@import url('https://fonts.googleapis.com/css?family=Montserrat|Thasadith|Sedgwick+Ave');

body
{
  margin: 0;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.GradientOverflow
{
  height: 100%;
  width: 100%;
  position: absolute;
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .90;
}
.Container
{
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  bottom: 0;
  text-align: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
h1
{
  font-family: Sedgwick Ave;
  font-size: 6vw;
  margin-bottom: 5vw;
  color: #F9F9F9;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(249,249,249,0);
}
h2
{
  font-family: Montserrat;
  font-size: 2.5vw;
  color: #F9F9F9;
}
h3
{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Thasadith;
  font-size: 1.5vw;
  color: #F9F9F9;
}
h4
{
  display: inline-block;
  font-family: Thasadith;
  width: 5vw;
  margin-top: 0vw;
  margin-bottom: 0;
  font-size: 2.2vw;
  color: #F9F9F9;
}
h5
{
  display: inline-block;
  font-family: Thasadith;
  width: 5vw;
  font-size: 0.7vw;
  color: #F9F9F9;
  margin-top: -2vw;
}
h6
{
  margin-top: 0;
  font-family: Thasadith;
  font-size: 0.5vw;
  color: #F9F9F9;
}
a
{
  text-decoration: none;
  color: #F9F9F9;
}
p
{
  font-family: Thasadith;
  font-weight: bold;
  font-size: 0.5vw;
  color: #F9F9F9;
}
button
{
  margin-left: 2vw;
  margin-right: 2vw;
  height: 1.5vw;
  width: 8vw;
  color: #303030;
  font-size: 0.7vw;
  font-family: Montserrat;
  background-color: #F9F9F9;
  border: transparent solid 0px;
  border-radius: 2vw 2vw 2vw 2vw;
  -moz-border-radius: 2vw 2vw 2vw 2vw;
  -webkit-border-radius: 2vw 2vw 2vw 2vw;
  cursor: pointer;
  outline: 0;
}
.Item
{
  display: block;
  position: relative;
  height: 22vw;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 0.1vw solid #f9f9f9;
  /* border-bottom: 0.1vw solid #f9f9f9; */
}
footer
{
  display: block;
  position: relative;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 0.1vw solid #f9f9f9;
}
/* CUSTOM SCROLLBAR */
#Scrollbar::-webkit-scrollbar
{
  width: 0.5vw;
  background: transparent;
}
#Scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 1vw;
  background-color: #F9F9F9;
}
#Scrollbar::-webkit-scrollbar-track
{
  border-radius: 1vw;
  background: transparent;
}
